<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" 
        type="text/css">
    </head>
    <body style="margin: auto; padding: 0px 10px; width: 960px; font-family: 'Open Sans';">
    
        <h1 style="background-color: #efefef; color: #333; padding: 10px 15px; font-size: 16px;">
            {{area}} Area Stats
            <small style="font-size: 12px;">Information fetched from Zoopla , displaying data for last 12 months, unless specified</small>
        </h1>

        <div style="font-size: 16px; font-weight: 300; margin-bottom: 30px; float: left; width: 100%;">
            <div style="float: left; width: 25%;  padding: 0px 10px; margin: 0px -10px;">
                <div style="padding-right: 10px;">
                    <div style="border: 1px solid #ccc; padding: 10px 15px;">
                        <div style="font-size: 16px; margin-bottom: 5px;">Average price paid</div>
                        {% if summary.average_price_paid %}
                            <div style="font-size: 24px;">
                            {{currentUser.currencySymbol.decode('utf-8')}}{{format_number(summary.average_price_paid)}}
                            </div>
                        {% else %}
                            <div style="color: #9d9d9d;">No Data Available</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="float: left; width: 25%;  padding: 0px 10px; margin: 0px -10px;">
                <div style="padding-right: 10px;">
                    <div style="border: 1px solid #ccc; padding: 10px 15px;">
                        <div style="font-size: 16px; margin-bottom: 5px;">Sales</div>
                        {% if summary.sales %}
                            <div style="font-size: 24px;">
                            {{format_number(summary.sales)}}
                            </div>
                        {% else %}
                            <div style="color: #9d9d9d;">No Data Available</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="float: left; width: 25%;  padding: 0px 10px; margin: 0px -10px;">
                <div style="padding-right: 10px;">
                    <div style="border: 1px solid #ccc; padding: 10px 15px;">
                        <div style="font-size: 16px; margin-bottom: 5px;">Current average value</div>
                        {% if summary.current_average_value %}
                            <div style="font-size: 24px;">
                            {{currentUser.currencySymbol.decode('utf-8')}}{{format_number(summary.current_average_value)}}
                            </div>
                        {% else %}
                            <div style="color: #9d9d9d;">No Data Available</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="float: left; width: 25%;  padding: 0px 10px; margin: 0px -10px;">
                <div style="border: 1px solid #ccc; padding: 10px 15px;">
                    <div style="font-size: 16px; margin-bottom: 5px;">Value change</div>
                    {% if valueChange %}
                        <div style="font-size: 24px; font-weight: 100;">
                        {% if valueChangePositive %} {% else %} - {% endif %}
                        {{currentUser.currencySymbol.decode('utf-8')}}{{format_number(valueChange)}}
                        {% if valueChangePositive %}
                            <small style="color: green; font-size: 14px;">
                                ↑                            
                                {{format_number(summary.value_change_pct , 2)}}%
                            </small>
                        {% else %}
                            <small style="color: red; font-size: 14px;">
                                ↓
                                {{format_number(summary.value_change_pct , 2)}}%
                            </small>
                        {% endif %}
                        </div>
                    {% else %}
                        <div style="color: #9d9d9d;">No Data Available</div>
                    {% endif %}
                </div>
            </div>
        </div>
           
        <div style="clear: both;"></div>

        <img src="{{summary.average_values_graph_url}}" style="margin: 20px auto 70px; display: block;">
        <img src="{{summary.value_trend_graph_url}}" style="margin: 20px auto 70px; display: block;">
        <img src="{{summary.value_ranges_graph_url}}" style="margin: 20px auto 70px; display: block;">
        <img src="{{summary.home_values_graph_url}}" style="margin: 20px auto 70px; display: block;">
        <img src="https://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla-150x73.png" width="100" height="49" title="Property information powered by Zoopla" alt="Property information powered by Zoopla" border="0" style="margin: 20px auto; display: block;">

        <h1 style="background-color: #efefef; color: #333; padding: 10px 15px; font-size: 16px; 
        page-break-before: always;">
          {{area}} Local Info
        </h1>
          

        <img src="{{summary.people_graph_url}}" style="margin: 20px auto 40px; display: block;">
        <img src="{{summary.education_graph_url}}" style="margin: 20px auto 40px; display: block;">
        <img src="{{summary.crime_graph_url}}" style="margin: 20px auto 40px; display: block;">
        <img src="{{summary.council_tax_graph_url}}" style="margin: 20px auto 40px; display: block;">

        <img src="https://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla-150x73.png" width="100" height="49" title="Property information powered by Zoopla" alt="Property information powered by Zoopla" border="0" style="margin: 20px auto; display: block;">
          
    </body>
</html>